@{
    ViewData["Title"] = "Index";
}

<h3>@(ViewBag.Deportista.Nombre + " " + ViewBag.Deportista.Apellido)</h3>
<p>Fecha de nacimiento: @ViewBag.Deportista.FechaNacimiento.ToShortDateString()</p>
<img src="@ViewBag.Deportista.Foto" alt="Foto Deportista">

<a href='@Url.Action("VerDetalleDeporte",new {idDeporte=ViewBag.Deportista.IdDeportes})'> Ver detalle deporte</a>
<a href='@Url.Action("VerDetallePais",new {idPais=ViewBag.Deportista.IdPais})'> Ver detalle pais</a>