@{
    ViewData["Title"] = "Index";
}

<h3>@ViewBag.Pais.Nombre</h3>
<p>Fecha de fundación: @ViewBag.Pais.FechaFundacion.ToShortDateString()</p>
<img src="@ViewBag.Pais.Bandera" alt="Bandera">

@foreach(Deportista depor in ViewBag.Deportistas)
{
    <h6>@(depor.Nombre + " " + depor.Apellido)</h6>
    <a href='@Url.Action("VerDetalleDeportista",new {IdDeportista=depor.IdDeportistas})'> Ver más info</a>
    <div class="card mb-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    <a href='@Url.Action("VerDetallePais",new {IdPais=depor.IdPais})' class="btn btn-primary">Ver detalle país</a>
    <a href='@Url.Action("VerDetalleDeporte",new {IdDeportes=depor.IdDeportes})' class="btn btn-primary">Ver detalle Deporte</a>
  </div>
</div>
}