@{
    ViewData["Title"] = "País - Ver Detalle";
}

<div class="container mt-4">
    <h3 class="mb-4">@ViewBag.Pais.Nombre</h3>
    <p>Fecha de fundación: @ViewBag.Pais.FechaFundacion.ToShortDateString()</p>
    <div class="text-center mb-4">
        <img src="@ViewBag.Pais.Bandera" alt="Bandera" class="img-fluid">
    </div>

    <h3>Deportistas</h3>
    <div class="row">
        @foreach(Deportista depor in ViewBag.Deportistas)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="@depor.Foto" class="card-img-top" alt="Foto">
                    <div class="card-body">
                        <h5 class="card-title">@depor.Nombre @depor.Apellido</h5>
                        <a href='@Url.Action("VerDetalleDeportista", new {IdDeportista = depor.IdDeportistas})' class="btn btn-primary">Ver más info</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>