@{
    ViewData["Title"] = "Deportista - Ver Detalle";
}

<div class="container mt-4">
    <h3>@(ViewBag.Deportista.Nombre + " " + ViewBag.Deportista.Apellido)</h3>
    <p>Fecha de nacimiento: @ViewBag.Deportista.FechaNacimiento.ToShortDateString()</p>
    <div class="text-center mb-4">
        <img src="@ViewBag.Deportista.Foto" alt="Foto Deportista" class="img-fluid rounded">
    </div>
    <a href='@Url.Action("VerDetallePais", new {idPais = ViewBag.Deportista.IdPais})' class="btn btn-primary">Ver detalle país</a>
    <a href='@Url.Action("VerDetalleDeporte", new {idDeporte = ViewBag.Deportista.IdDeportes})' class="btn btn-primary">Ver detalle Deporte</a>
    <a href='@Url.Action("EliminarDeportista", new {idCandidato = ViewBag.Deportista.IdDeportistas})' class="btn btn-primary">Eliminar Deportista</a>
</div>